h1{
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

p{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.container{
    background-color: rgba(153, 65, 127, 0.2);
}